* {
  background-color: rgb(251, 254, 172);
}

.container {
  text-align: center;
  margin-top: 50px;
}

/* Style the color box */
#color-box {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  margin: 20px auto;
}

/* Style the button */
#change-color-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#change-color-btn:hover {
  background-color: #45a049;
}
.T {
  color: magenta;
}
